package ${cfg.Query};

#if(${entityLombokModel})
import lombok.Data;
#end

/**
 * @author ${author}
 * @since ${date}
 */
#if(${entityLombokModel})
@Data
#end
public class ${entity}Query {

    private long pageNo;

    private long pageSize;
}
