package ${package.Service};

import ${package.Entity}.${entity};
import ${package.Entity}.${entity}Query;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import java.util.List;

/**
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} {
    Page<${entity}> page(${entity}Query ${table.entityPath}Query);

    List<${entity}> list(${entity}Query ${table.entityPath}Query);

    ${entity} get(String id);

    void insert(${entity} ${table.entityPath});

    void update(${entity} ${table.entityPath});

    void delete(String id);
}
